<div class="ui card">

<!--     {% assign foundImage = 0 %}
    {% assign images = post.content | split:"<img" %}
    {% for image in images %}
        {% if image contains 'src' %}
            {% if foundImage == 0 %}
                {% assign html = image | split:">" | first %}
                <div class="image">
                    <img {{ html }} />
                </div> 
                {% assign foundImage = 1 %}
                {% break %}
            {% endif %}
        {% endif %}
    {% endfor %} -->

    <div class="content">
        <a class="header" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title | strip_html | truncatewords: 15 }}</a>
        <div class="meta">
            <span class="date">{{ post.date | date_to_string }} 
            {% if post.category %} 
                in {{ post.categories }}
            {% endif %} 
            </span>
        </div>
        <div class="description">
            {{ post.content | strip_html | truncatewords: 30 }}
        </div>
    </div>
    <div class="extra content">
        <i class="comments icon"></i>
        <a href="{{ post.url }}index.html#disqus_thread" data-disqus-identifier="{{post.url}}">
            0 Comments
        </a>
        {% if post.author %}
        <div class="right floated author">
            <img class="ui avatar image" src="/assets/img/profile.jpg"> {{ post.author }}
        </div>
        {% endif %}
    </div>
</div>