<footer>
    <div class="footer-wrapper">
        <div class="ui secondary menu inverted">
            <p class="item">Marco A. Gutiérrez, 2018 /  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a></p>
            <div class="right menu">
                <a class="item" href="/archive.html">
                    Latest Posts
                </a>
                <a class="item" href="https://twitter.com/marcoagutier">
                    Twitter
                </a>
                <a class="item" href="https://github.com/marcoag">
                    Github
                </a>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/semantic.min.js"></script>
