<footer>
    <div class="footer-wrapper">
        <div class="ui secondary menu inverted">
            <p class="item">Wall-E &copy; 2017</p>
            <div class="right menu">
                <a class="item" href="/archive.html">
                    Latest Posts
                </a>
                <a class="item" href="https://twitter.com/fsf">
                    Twitter
                </a>
                <a class="item" href="https://github.com/abhn">
                    Github
                </a>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/semantic.min.js"></script>